* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;
  background-color: #0A1316;
  color: #fff;

}

.navbar {
  display: flex;
  align-items: center;

}

.logo {
  font-size: 30px;
  font-weight: 900;
  color: #D68240;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.f {
  background-color: #D68240;
  color: white;
  border-radius: 8px;
  width: 28px;
  height: 45px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn1 {
  background: #D68240;
  color: #fff;
  padding: 8px 15px;
  border: #D68240;
  border-radius: 5px;
  font-weight: 600;
}


.navtext {
  position: relative;
  top: -150px;
}

.distx {
  display: inline-block;
  border-bottom: 3px solid #D68240;
  padding-bottom: 3px;
}

.nav-link:hover {
  color: chartreuse;
  text-decoration: underline;
}

/* sec4 */
.sec4 {
  position: relative;
  overflow: hidden;
}

.bg-img {
  object-fit: cover;
  filter: brightness(60%);
}

.over-content {
  background-image: url("/public/sec3bg.png");
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.poptext {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  background: rgba(18, 26, 29, 0.9);
  padding: 2rem;

}

.herobtn:hover {
  background-color: #D68240;
}

/* sec6 */
.sec6 {
  margin: 4rem 0;
  position: relative;
  color: #fff;
}

.overimg {
  position: relative;
  width: 250px;
  height: auto;
}

.overimg1 {
  width: 215px;
  position: relative;
  left: -18rem;
  top: -1rem;

}

.overimg2 {
  width: 215px;
  position: absolute;
  top: 2rem;
  left: -3rem;

}

@media (max-width: 768px) {
  .overimg img {
    width: 80% !important;
    position: static !important;
  }


  .overimg2 {
    top: 1rem;
    left: 2rem;
  }

  .sec6 {
    margin: 5rem 0;
  }

}


/* section-- 8 */

.sec8 {
  overflow: hidden;
  color: #fff;
}

.sec8-bg {
  background: url('/public/sec8bg.png') center center/cover no-repeat;
  background-attachment: fixed;
  filter: brightness(40%);
  z-index: 1;
}

.sec8 .container {
  position: relative;
  z-index: 2;
}


@media (max-width: 768px) {
  .sec8 form {
    flex-direction: column !important;
  }

  .sec8 input {
    width: 100% !important;
  }
}


/* Footer --- Section */

.ficon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px) {
  .footertext {
    flex-direction: column;
  }

  .footertext {
    width: 100%;
  }
}